body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-image: url("https://cdn.pixabay.com/photo/2020/11/24/12/23/wall-street-5772393_960_720.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

label {
  color: white;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
}

h2 {
  color: #ffffff;
  font-size: 30px;
}

.moedaEntrada,
.moedaSaida {
  color: #ffffff;
  text-align: left;
  display: inline-block;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  border-style: solid;
  border-width: 10px;
}

.moedaEntrada {
  background-color: rgba(255, 80, 80, 0.4);
  border-color: rgba(255, 0, 0, 0.4);
  backdrop-filter: blur(8px);
}

.moedaSaida {
  background-color: rgba(51, 204, 51, 0.4);
  border-color: rgba(0, 153, 51, 0.4);
  backdrop-filter: blur(8px);
}

.moeda1,
.moeda2 {
  text-align: center;
  font-weight: bold;
}